.App {
  text-align: center;
}

.App-logo {
  height: 40vmin;
}

.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-link {
  color: #8a1b6e;
}
  body {
    margin: 0;
    font-family: Arial, "Helvetica Neue", Helvetica, sans-serif;
  }

  ul {
    list-style-type: none;
    margin: 0;
    padding: 0;
    width: 25%;
    /* background-color: rgba(221, 16, 50, 0.822); */
    background-color:#db3d44;
    position: fixed;
    height: 100%;
    overflow: auto;
  }

  li a {
    display: block;
    color: rgb(216, 210, 210);
    padding: 8px 16px;
    text-decoration: none;
  }

  li a.active {
    background-color: #af3037;
    color: white;
    text-decoration: none;
  }

  li a:hover:not(.active) {
    /* background-color: rgb(124, 42, 55); */
    background-color: #e77074;
    /* color: #f9dcdd; */
    /* color: #222; */
    /* color: #eee; */
    color: white;
    text-decoration: none;
  }

  a {
    text-decoration: none;
  }
  li.item {
    font-size: 13px
  }

